function loadtest-prod() {
  rm -rf target/load-reports
  mkdir -p target/load-reports/{html,raw}
  $PWD/../apache-jmeter-5.0/bin/jmeter -n -t src/test/resources/rapid-load.jmx -l target/load-reports/raw/load-results -e -o target/load-reports/html -Jusers=5000 -Jrampup=60
}
export_function loadtest-prod

function loadtest-edit(){
  $PWD/../apache-jmeter-5.0/bin/jmeter -t src/test/resources/rapid-load.jmx

}
export_function loadtest-edit

